### Assignement: Statistics
### Name: Minhaz Abdul Majeed

In [3]:
# Question - Statistics Assignment
# Data set - Students_Performance.csv

In [4]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import statistics as stat
from scipy.stats import ttest_ind
from scipy.stats import chisquare
from scipy.stats import chi2_contingency

In [5]:
Students_data = pd.read_csv(r"C:\Minhaz Local files\DSA\DSA 02 2024\Students_Performance.csv")

In [47]:
Students_data # to print the data
## Students_data.info() - to display the data information, like column name, missing values, data type of each column etc.
## Students_data.shape - to show the column and row structure
## Students_data.columns - to show full column name in the data
## Students_data.head() / .tail() - to show the first/last five rows in the data

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group C,some high school,free/reduced,none,0,17,10
1,female,group B,high school,free/reduced,none,8,24,23
2,female,group B,some high school,free/reduced,none,18,32,28
3,female,group B,some college,standard,none,11,38,32
4,female,group C,some college,free/reduced,none,22,39,33
...,...,...,...,...,...,...,...,...
995,male,group E,some college,standard,completed,99,87,81
996,male,group A,some college,standard,completed,100,96,86
997,male,group D,some college,standard,completed,100,97,99
998,male,group E,associate's degree,free/reduced,completed,100,100,93
999,male,group E,bachelor's degree,standard,completed,100,100,100

In [8]:
Students_data.describe()

        math score  reading score  writing score
count  1000.000000    1000.000000    1000.000000
mean     66.001000      69.195000      68.119000
std      15.569567      14.706436      15.226381
min       0.000000      17.000000      10.000000
25%      57.000000      59.000000      58.000000
50%      66.000000      70.000000      69.000000
75%      77.000000      79.250000      79.000000
max     100.000000     100.000000     100.000000

In [54]:
#Gender_list = Students_data['gender'].value_counts()
#print (Gender_list)
Gender_count = Students_data['gender'].value_counts()
print("Male count : ", Gender_count['male'])
print("Female count : ", Gender_count['female'])
## to list the total number of participants as gender category

Male count :  482
Female count :  518

In [56]:
members = Students_data['test preparation course'].value_counts()
print (members)
## to list completion status of total participants

none         642
completed    358
Name: test preparation course, dtype: int64

### a.Find out males and females attendeded in the test.

In [35]:
filter_male = Students_data[(Students_data['gender'] == 'male') & (Students_data['test preparation course'] == 'completed')]
male_attendance = filter_male.shape[0]
filter_female = Students_data[(Students_data['gender'] == 'female') & (Students_data['test preparation course'] == 'completed')]
female_attendance = filter_female.shape[0]
print ("Male attendees = ", male_attendance)
print ("Female attendees = ", female_attendance)

Male attendees =  174
Female attendees =  184

### b.What do you think about the students' parental level of education?

In [36]:
Level_of_education = Students_data['parental level of education'].value_counts()
print (Level_of_education)

some college          226
associate's degree    222
high school           196
some high school      179
bachelor's degree     118
master's degree        59
Name: parental level of education, dtype: int64

### c. What do you think about the scoring variation for math, reading and writing based on

### i.Gender

In [61]:
scoring_variation_math = Students_data.groupby('gender')['math score'].mean()
scoring_variation_reading = Students_data.groupby('gender')['reading score'].mean()
scoring_variation_writing = Students_data.groupby('gender')['writing score'].mean()

In [62]:
print ("Score variation for Maths against ", scoring_variation_math)

Score variation for Maths against  gender
female    63.376448
male      68.821577
Name: math score, dtype: float64

In [58]:
print ("Score variation for Reading against ", scoring_variation_reading)

Score variation for Reading against  gender
female    72.590734
male      65.545643
Name: reading score, dtype: float64

In [59]:
print ("Score variation for Writing against ", scoring_variation_writing)

Score variation for Writing against  gender
female    72.467181
male      63.446058
Name: writing score, dtype: float64

### ii. Test preparation course

In [63]:
scoring_variation_math = Students_data.groupby('test preparation course')['math score'].mean()
scoring_variation_reading = Students_data.groupby('test preparation course')['reading score'].mean()
scoring_variation_writing = Students_data.groupby('test preparation course')['writing score'].mean()

In [64]:
print ("Score variation for Maths against ", scoring_variation_math)

Score variation for Maths against  test preparation course
completed    69.96648
none         63.78972
Name: math score, dtype: float64

In [66]:
print ("Score variation for Reading against ", scoring_variation_reading)

Score variation for Reading against  test preparation course
completed    74.175978
none         66.417445
Name: reading score, dtype: float64

In [67]:
print ("Score variation for Writing against ", scoring_variation_writing)

Score variation for Writing against  test preparation course
completed    74.684358
none         64.457944
Name: writing score, dtype: float64

In [ ]:
## for other question