## Assignment on Statistics & Casestudy based on Hypothesis
### Done by : Minhaz Abdul Majeed

In [3]:
# Question - Statistics Assignment
# Data set - Students_Performance.csv

In [13]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import statistics as stat
from scipy.stats import ttest_ind
from scipy.stats import chisquare
from scipy.stats import chi2_contingency
from scipy.stats import ttest_rel

In [2]:
Students_data = pd.read_csv(r"C:\Minhaz Local files\DSA\DSA 02 2024\Students_Performance.csv")

In [47]:
Students_data # to print the data
## Students_data.info() - to display the data information, like column name, missing values, data type of each column etc.
## Students_data.shape - to show the column and row structure
## Students_data.columns - to show full column name in the data
## Students_data.head() / .tail() - to show the first/last five rows in the data

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group C,some high school,free/reduced,none,0,17,10
1,female,group B,high school,free/reduced,none,8,24,23
2,female,group B,some high school,free/reduced,none,18,32,28
3,female,group B,some college,standard,none,11,38,32
4,female,group C,some college,free/reduced,none,22,39,33
...,...,...,...,...,...,...,...,...
995,male,group E,some college,standard,completed,99,87,81
996,male,group A,some college,standard,completed,100,96,86
997,male,group D,some college,standard,completed,100,97,99
998,male,group E,associate's degree,free/reduced,completed,100,100,93
999,male,group E,bachelor's degree,standard,completed,100,100,100

In [8]:
Students_data.describe()

        math score  reading score  writing score
count  1000.000000    1000.000000    1000.000000
mean     66.001000      69.195000      68.119000
std      15.569567      14.706436      15.226381
min       0.000000      17.000000      10.000000
25%      57.000000      59.000000      58.000000
50%      66.000000      70.000000      69.000000
75%      77.000000      79.250000      79.000000
max     100.000000     100.000000     100.000000

In [54]:
#Gender_list = Students_data['gender'].value_counts()
#print (Gender_list)
Gender_count = Students_data['gender'].value_counts()
print("Male count : ", Gender_count['male'])
print("Female count : ", Gender_count['female'])
## to list the total number of participants as gender category

Male count :  482
Female count :  518

In [56]:
members = Students_data['test preparation course'].value_counts()
print (members)
## to list completion status of total participants

none         642
completed    358
Name: test preparation course, dtype: int64

### a.Find out males and females attendeded in the test.

In [35]:
filter_male = Students_data[(Students_data['gender'] == 'male') & (Students_data['test preparation course'] == 'completed')]
male_attendance = filter_male.shape[0]
filter_female = Students_data[(Students_data['gender'] == 'female') & (Students_data['test preparation course'] == 'completed')]
female_attendance = filter_female.shape[0]
print ("Male attendees = ", male_attendance)
print ("Female attendees = ", female_attendance)

Male attendees =  174
Female attendees =  184

### b.What do you think about the students' parental level of education?

In [36]:
Level_of_education = Students_data['parental level of education'].value_counts()
print (Level_of_education)

some college          226
associate's degree    222
high school           196
some high school      179
bachelor's degree     118
master's degree        59
Name: parental level of education, dtype: int64

### d. What do you think about the scoring variation for math, reading and writing based on

### i.Gender

In [61]:
scoring_variation_math = Students_data.groupby('gender')['math score'].mean()
scoring_variation_reading = Students_data.groupby('gender')['reading score'].mean()
scoring_variation_writing = Students_data.groupby('gender')['writing score'].mean()

In [62]:
print ("Score variation for Maths against ", scoring_variation_math)

Score variation for Maths against  gender
female    63.376448
male      68.821577
Name: math score, dtype: float64

In [58]:
print ("Score variation for Reading against ", scoring_variation_reading)

Score variation for Reading against  gender
female    72.590734
male      65.545643
Name: reading score, dtype: float64

In [59]:
print ("Score variation for Writing against ", scoring_variation_writing)

Score variation for Writing against  gender
female    72.467181
male      63.446058
Name: writing score, dtype: float64

### ii. Test preparation course

In [63]:
scoring_variation_math = Students_data.groupby('test preparation course')['math score'].mean()
scoring_variation_reading = Students_data.groupby('test preparation course')['reading score'].mean()
scoring_variation_writing = Students_data.groupby('test preparation course')['writing score'].mean()

In [64]:
print ("Score variation for Maths against ", scoring_variation_math)

Score variation for Maths against  test preparation course
completed    69.96648
none         63.78972
Name: math score, dtype: float64

In [66]:
print ("Score variation for Reading against ", scoring_variation_reading)

Score variation for Reading against  test preparation course
completed    74.175978
none         66.417445
Name: reading score, dtype: float64

In [67]:
print ("Score variation for Writing against ", scoring_variation_writing)

Score variation for Writing against  test preparation course
completed    74.684358
none         64.457944
Name: writing score, dtype: float64

### c. Who scores the most on average for math, reading and writing based on

### i. Gender

In [7]:
sub_columns = ['math score','reading score','writing score']

avg_gen_scores = Students_data.groupby('gender')[sub_columns].mean()

print("Average scores achieved by gender: ")
print(avg_gen_scores)

Average scores achieved by gender:
        math score  reading score  writing score
gender
female   63.376448      72.590734      72.467181
male     68.821577      65.545643      63.446058

### ii. Test preparation course

In [8]:
avg_test_prep_score = Students_data.groupby('test preparation course')[sub_columns].mean()

print("Average score by Test preparation:")
print(avg_test_prep_score)

Average score by Test preparation:
                         math score  reading score  writing score
test preparation course
completed                  69.96648      74.175978      74.684358
none                       63.78972      66.417445      64.457944

### e. Bonus points for top 25% students

In [12]:
top25 = Students_data['math score'].quantile(0.75)
top25_students = Students_data[Students_data['math score'] > top25]

bonus_points = 10

top25_students = top25_students.copy()
top25_students.loc[:, 'bonus_points'] = bonus_points

print("Students eligible for bonus points (i.e,top 25% in math score): \n")
print(top25_students)

Students eligible for bonus points (i.e,top 25% in math score):

     gender race/ethnicity parental level of education         lunch  \
430  female        group A                some college      standard
431  female        group B           bachelor's degree  free/reduced
432  female        group D           bachelor's degree      standard
433  female        group D                 high school      standard
434  female        group D           bachelor's degree  free/reduced
..      ...            ...                         ...           ...
995    male        group E                some college      standard
996    male        group A                some college      standard
997    male        group D                some college      standard
998    male        group E          associate's degree  free/reduced
999    male        group E           bachelor's degree      standard

    test preparation course  math score  reading score  writing score  \
430               completed          78             87             91
431                    none          78             79             76
432                    none          78             82             79
433                    none          78             81             80
434                    none          78             90             93
..                      ...         ...            ...            ...
995               completed          99             87             81
996               completed         100             96             86
997               completed         100             97             99
998               completed         100            100             93
999               completed         100            100            100

     bonus_points
430            10
431            10
432            10
433            10
434            10
..            ...
995            10
996            10
997            10
998            10
999            10

[231 rows x 9 columns]

### Case Study on Testing of Hypothesis

In [15]:
sales_data = pd.read_csv(r"C:\Minhaz Local files\DSA\DSA 02 2024\Sales_add.csv")

### 1. A company started to invest in digital marketing as a new way of their product promotions. For that they collected data and decided to carry out a study on it.

#### a. The company wishes to clarify whether there is any increase in sales after stepping into digital marketing.

In [16]:
sales_data.head()

,Month,Region,Manager,Sales_before_digital_add(in $),Sales_After_digital_add(in $)
0,Month-1,Region - A,Manager - A,132921,270390
1,Month-2,Region - A,Manager - C,149559,223334
2,Month-3,Region - B,Manager - A,146278,244243
3,Month-4,Region - B,Manager - B,152167,231808
4,Month-5,Region - C,Manager - B,159525,258402

In [37]:
sales_before = sales_data['Sales_before_digital_add(in $)']
sales_after = sales_data['Sales_After_digital_add(in $)']

t_statistic , p_value = ttest_rel(sales_before,sales_after)

print("Paired t-test results:-")
print("t-statistic = ", t_statistic)
print("p-value = ",p_value)

if p_value < 0.05:
    print("Reject the null hypothesis. There is a significant increase in sales after implementing digital marketing.")
else:
    print("Fail to reject the null hypothesis. There is no significant increase in sales after implementing digital marketing.")

Paired t-test results:-
t-statistic =  -12.09070525287017
p-value =  6.336667004575778e-11
Reject the null hypothesis. There is a significant increase in sales after implementing digital marketing.

#### b. The company needs to check whether there is any dependency between the features “Region” and “Manager”.

In [36]:
table_cont = pd.crosstab(sales_data['Region'],sales_data['Manager'])

chi2_stat , p_value, dof , expected = chi2_contingency(table_cont)

print("Chi-square test results:-")
print("Chi-square statistic =", chi2_stat)
print("p-value : ", p_value)

if p_value < 0.05:
    print("Reject the null hypothesis. There is a dependency between Region and Manager.")
else:
    print("Fail to reject the null hypothesis. There is no dependency between Region and Manager.")

Chi-square test results:-
Chi-square statistic = 3.050566893424036
p-value :  0.5493991051158094
Fail to reject the null hypothesis. There is no dependency between Region and Manager.